Source: qmlquake2frontend
Section: user/other
Priority: optional
Maintainer: Karin Zhao <beyondk2000@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: <https://www.facebook.com/profile.php?id=100005131424444>

Package: qmlquake2frontend
Architecture: any
Depends: glquake2 (>= 0.3-3harmattan2015natasha1), ${shlibs:Depends}, ${misc:Depends}
Description: QML Quake II FrontEnd For MeeGo Harmattan
 It must be install glquake2 package on device.
 glquake2 is Quake II Touch port OpenGLES 1.1 for MeeGo Harmattan.
 Quake II is a first-person shooter computer game developed by id Software and distributed by Activision.
XSBC-Maemo-Display-Name: qmlquake2frontend
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
 WXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4gcMFyM44GwJiwAAF4lJREFUeNrVm2uMXdd1339r733O
 fcz7ySE1FCmJlCxTli3LUWunSGIXRmKjboyicIp+cPulKfol7acUbYJ+SYsiaeEGRR8pEqSKCjsP
 wEXq1KgLBbZrS5YlSqYoyZJI8c15kfO+73PO3nv1w7kzHJIznJGtGPIFDubeO/fce9Z/r7X+/7XW
 PsJ7+FhYWBBVlf5LUVWp1+va6/XGY4zHVHVQRIaMMUkIoS4iFQBVzay1nRhjoapNEWkZY65Wq9W1
 TqcjIqKAAoiIHjlyRN+ra5Yf9wuuX7+eGmMckAIfUNWfBR4XkUdV9ZiITMcY6Rt6sIuS8rKMMajq
 TeAK8Bbwmog8D5wzxuRAcfjw4eInDsDy8rILwQ+FECdijH8f+DTwM6paiTGiqmwZ/V49jDGIyNbf
 njHmNPAs8MfAaqWSNiYnp8JfKQCLiwtJCDolws+r6j+KMX5SVQkhbBu8tXp/VY8tLzLGYK1FRBCR
 bxpjfl+V74jozfvum/XvOQBzc3MTqvq5GPXXVfVR7z2q8b2KpB8Vjh1gOETkTRH5HWPM/56dvW/1
 PQHg4sU3xNqhJ0B/XVV/xfuf3Gr/KF7hnENE/hj4d8eO3f9qP4H+aABcv341yfPwd4B/HWM8EUJ4
 Xxm+GxBbecIY84619je8z/78xImHi3cNwLlzb7okqX4xhPhvY4zT77dVP2COuGmt+ee1WvI/ZmZm
 w4EBUFW5dOny3w0h/McQwsxB6ev99uiDsCgiv7a8fP6rH//4Z/RAAFy8ePEp78NXYowPxRj50Ice
 uzetCYgVNChGTP+zgogFCaCQJAlFUdzlrne5sBGMM8QQsZIQCRCVrY9GVcQaxAjRR8QZ8AFJErAR
 iYqpJpx57gfbHmutvWiM/L2TJ0++fBdId77xwx++NZ3nxW/GGB4KIezK6X3quf11H80YIwgYJ8w8
 MM3M8UOg4L2/7ZwtGjPG3CWAoo9oVI4+cQSXOBCIse/eqqhGNEaMKuS+JIOsQL0SohLbOaq6fe0x
 xodCiL/x1ltvT98TgMuXF12SpJ8FPud92P6SnRcnItvv99FFEKJXFME4R21gkJOffhjjlMVLS4iT
 rQvZ/o4YI957QgiIUK6w2WY2jBEun77Cqc+c4shjM1RqFWIsP6Re0QBqDIqgEWKfFaUwRMz2Naoq
 3nti1M+LyC++887bbk8AGo3lQ1nW/ZdbK7/T0DuTzNbzna/FCIdOTjH7iUO8840LLJxfLOWsjztW
 +RZ/3/KG0oOMs+X/pXRzjOHM/zxDKJQHP3WMykh66/dU0RDLaxNBDOAVxOMGk9uuf0usFUX+Lzqd
 3vSuAJw797ZL0+QXjDEn7wTgTkN3PsqVVZJKhaNPzDJ53xSX/vIKUT26HRJ9ahLpr7aURks/bAA1
 QixCmU+cQz1IH/ylN5eYf2WRU794ksHJehlsVhALJrWYqgVrQBQSg8a7rz3GgDH20Upl4Ofeeee6
 uwuAVqsz3Otl/3Q34w+iyE488SDTk5O89dxbhBgQBLEGmziMSLnmpnzPVFz53BnEGERBY0RMP2ml
 FtlWmYoapX2jydwrSxz/xFEqQynqFSJEjX3QDDhBjEGLuOsChhDodFq/trl5c/guAGq12pS19mfe
 HQBlTE4+MEFSc/zwu2/he8V2nBtnwIBqRKyABTEGW3XY1JUEoYqqgBo0QPCRopkRtkKM0guCRNau
 rbM51+L+J49gbBkGxIjGUILpDCEPhNzvCYBz7uOVSmX8NgBOnz6ddLudL+x20r0AEBFsYpg8PsH8
 pQW67e6tTK4RzQMx8yBSumWE4AO+k5dU5vpsIlrG/Ra7SN84EcQIW92AUHhWL6xgE2Hq5ARRy9DB
 CGwl5dTiail72aKqZFnvV77//e8n2wDkeZHmefGFdxP7ZR6KjB4bobneornc2r1UEbmVoUuHJhSB
 0MvR7UR6i12SJNkGQkxfqKhgjUWM0Gn0aFzvMPbAKLXRKsYLhDIMVMCIYBKzp/ExRorCf8H7kG4D
 UKlU0yRJHjsoAOUFWiqDFSZPTFPkkbyT7d306PM3URHt/2gUtFCMdYgzfY4vQbNikKSkV0HKMNr6
 J0LjZpfRqSFmHpwoaVQh+oAEIYZA6GR7AhBCIE3TxwcGBkoAvvvd0+K9nrLW3kZt9wKgtCcwcXiC
 oeoI2UZ2zzARZHulNfbPp3R7jOIGUmw9RSyE6FELxpoSEAWlZBoo2aO1tol2HLMfO0Z9rAKVBDtW
 RyoOSRy6Q6vcfUREDN6HR1588SUxWdaSbrf1SyHEbUq789gt6ycVRxyILM7P09volCt1h1LcqSLL
 2N7i+dL20gsioVeAgWQgJRmrQCzPUyPbztPvMm6n7dZal/r0AJWJGmoNsfBggcQgqd3VjvIoQ3d9
 feOza2sb4lSDxKhPqkZKyj5Y4ZPWKhx98DDr8w2yTnbP3t4tNRmQVMqV9SCpoFbQFCCiaQIxYNOE
 2G+4RNvPkdKvFfqX111v4xsFBkPMCxJKuo3dgLq9+49lGBhUw8dUozjnDCLmgRC03+E5WLk7OFrn
 0EMz9Jb9tsK7JdL0Lk+gn8yIUlKiBKDP+YlFnJCmll4jlMajmLqjMmDJV/Ly+6wgKghKJ89JBhMm
 T07Q2OgSfYBOQXQJuHsn7xACSZIcd04xSVIR55L7Ygy8Gxqsjw4wfmQUO2BLpeduL2x2KsVtj3BC
 MlrFJKav3Ep2sBWDqzmyLOCzHO27ukYldCMYwYotPceCVCwbKw0a11aZmBmiOlYBFYwYJHqSqYF7
 0qBqJEmSWeecOOcSUdXBrW7PQWt/YyyNRpe15RVQJYZSzd3p/tvPjcMNOzTzxJ4HQ7nyiRCziKsb
 rDPUj4zSXmoS++D4XoE4g89CSYsKoVsw8dA0I0cG2dxoYhAQg4xbbASK/bvSzrmhqalpTK/XHgG5
 J2J3GS+GxvoGK1cWqKW1ErgY7oq1rUJKUaSiuHpC0SqIQcELsReJQRGE3noGUWmtZ2ih0I1oEZGk
 rP3NFgv26XBgsEq3meNClaRexVQExRKt4Ju9fTygvK7l5RtDbnMzPzo1VdtX8e2M66iRtFYlTVOy
 Xo5LK4S8KKmtL11vqxIR6ES63QbWGKLpFzMFiJeycIoQshyJpsz+oa8E+4aLUdCyQsQpbsCQjiQU
 LYtYhbpFASOWkO1fw6gqi4uLR02WNY7GqAfygK0YF4Ruq02j2+Txv3mKox+YRYlwB4Ps7B3EUg8S
 RTGJQVKDWCBGjJRFk0aIeY5GRZxgUls2PgSwgrGCxkilXqE+lDJzZJqi6emt5NhCMMEgQYmF39cD
 YlS89/e7EPyYatxH8uptxgBkDU9nMSPMKLXRGsaVq6Y78sh2g1Iok17s1+8KsSgbIWw1LLKIoGWm
 TyzqI6HnsdYQvSLW4hJH1ugxMF2nPjTK2nyb86+cp73awA0k4MpEaRN3IA/odLJxE0KolWLj3h5w
 Z3OkyAvUR6yzHH54huGJYe78zW0a7OeBGCEUEd/1xG4g+kjoFoR2QSz6OsSW/cCIlrwuZQkt2leO
 qozPjnP4kUnGpkaojg8hNYtYi62kxE6OHaru6wGlXbHmwKSq4cDZv/yc4Hue5cU15OwVHn3sEWYf
 uY+NG5s7h5o7hpzCzCP3UaknVGtVsqzAFx7j+sKu3x/sNDqkSZWlS4v0ul0kKVWQ+ohEIe8UHJo9
 xMwDh1nf2GC0Pk5sKzatQojYKMTE4Vvdfe3pN26rDmL1oI0P2e5plYKkfaNNZ7jHyvwayWRKdbRK
 b6NXan9u/06bOmpjNT74C4/SaraJvUBrqcngZEqsOqp1y6UXrpPdKIghoqJl5vcRYiSqkFRTTnzi
 JMdOPUiQLvM/XGR1YQURJWY5eQioD7BPSG9VsqpacUUR7qH5d/BmNSEUfrv7GDXQXQ8kzrHaXCOP
 GSc+foJ3vn2erJvfFgIxKlfPXCKtpYQK1MYTpupjzL+ygI4olQnBpglzZ5do3WyVZa01Jat47bfc
 LI///CkGjw5RkFFLaty8vEx3rYmzgoopO8TGIhW3rz0iSghBTAjkJQvEPQ8RQUPsV2d6q1ODsDy/
 jJeMWtVhJxMe//xHqA3XbyuOVPtUaIS8m6ExsLS4zM2FZTrdjBgSxDm8D6WgQdAAMXqiKqjw6FOP
 MjQ7zGCtxtDAABfPXOHq29ewQxVkoIoMVZCBhHSihpmo3NOesu5RQihyF2PWg/1ZIBRhl5pQacxt
 EoNn+qFx0qGEJB3kg599lNf/4jWKtif2AQTQoGTNLvlUgu95qtUqRTfH1A1DYzWcJBC7qC3zjOaC
 QfjV3/rHrLLCZm+NgZlRNm+2ufTSBXrtDm6sjoolqTmCKOosEg4aAtI1QO+gOmC3oUgMkeZig/k3
 brB5o8PAgCCF52d/9SnsQNL/MUGNlg3QJNJc3ySxCQhUhi1qC7q9LrHs8kMowTIV+MJvfoE8Lei2
 25hgaCwtM/fSZRavLGLTFO3kaJGVvQKv+I0e2igOwALQ6/nM5XnR3hIG+83ZYp/Hb+nsUvlpgO5a
 h+FTx9nczGmsbnLp7DxH/8YMs6OHmb9yg0svziFBseJIhhzaihAtLnVMHZrhxs1FimabAAyM1zn+
 0eM8+vFTDM6Ocv36VUbHxzn38gWm0jqnv/VSuRBFABWCKn65BWNVpFC8+gPYo8SYN12r1ZuPkW3j
 9kz/fVrbrcgwpmSGy9+7jJu0aJIweWyEatWxxibDJ4c5VExSW69x/wcPs95cYXVzjXbRYHb6QYaG
 avhskJl/+CnWF27wxCc/wsbCAl4iZ15+kSNTU2wsrvD2t1/jfCVBrAUnxP4CVKYGibnHjFQwaYKN
 +4d0jIZGY2PetNudK3Bvd0lSh9TsjrGVua303fqtXDNaSy2mZybwwwWNlR69Qsm6GRMPDTP0c45r
 l+YZrA5y6MQ0J//2A3RcweV35qi7YdZWFhk/cohstWBk9jDTJ49Q1RozDz/C3A/myKMn7xWYyUGk
 5rDGIEHIFxoY4zBFRCXi6pUDSOHI0tKNq25p6dqK9x8rXXkP0GKIaKH9Yoc9+oSKqGKM4erpi9Rn
 hnnkMw9yc6PHQL3K4OgYR2YmuCpzzK8sMDwwQt4SNq+3GJiq8MbNczz8wRPMzV0g+A4TZornnv0e
 H/3AR3jmn/0+oZvBYAohoL0CW3HEpGyt4wOxYhBrSAYrUOxf1ofgabfbq/Lss99yjcbGZpKk9b0+
 /PnPf+42KbyVD/b7ESeG6uggvvD80r/6WzTnlzn/5jXW59cZnxkjb3SIFdAAaZowc+wIH/xrH2Z1
 fpn2jQ5vfvNVluduYJ0BZ7CpRV3ZSBExqECplhSRBDtkiRoxxvGnv/1H95xk5XnWzrJs1M3Pz2GM
 LA0PJw/eObTcKRt3G5BuvSWY25WflLwfUNobTcQI3/w332DqkRmGjwzTSjfYWFtncGgAJKJVhcJj
 i4Rv/+evszm3QaPZQuoJLnVls1MpE5vr70VwBvLSK03isIkjdD3JSB3fzfdtiLTb7UUQdZ1OR621
 V4eH9cG9TtptI0O/lMM6R+IcPi8ofLgFgBFiXzwRlUajQeeVFoeS+xk7MYFZdnTnWrgZSzqdUsSC
 V772AqHjy/0FiUFiAGNQBatC7HqMFWSgFE7B58TVDE0EHYiINfhWFxlI7wmAMYZOp3c1BI/rdFqa
 JOnboJ+8Vyd1e1rTH3SKKaewofD43G9PfbcB2xptoeXmCWdJawnD0zW65NiaodfugY9UXcpArUJ1
 qEKpokvgxFli1eK6gVAE1AoSFImKX2n3d6GUsa+tHDdSI3QK1LMPC0Cr1Xo7zzM1r732Q71+ff7/
 qu7dFsPIbdkT1bJzG3cmzlsAlewkGBGsM6gxxCKglCOuopuTt3JCkcOGsDnXor3aLef9tuwJGGfB
 GIyWY3Ptj9Y1KrHjkUKJnaKcKg84zEhKFPBFgDzfpx0Gc3Nzz549+7qaZ575Q3XOfr/X27uPdueo
 4M5dI3f2AW+dZzADFSTtU2YE2kISUvK1HN8JDE7UmT40xdjUOLaSUIpfRZLynLiRgRFMWq40iUGi
 oqYciYsCbQ/eEIkkg1VcJb2HqlU6nY6GEF76sz/7ijqA++472m40mpfHx8ce2C12DlIq79yetqUR
 hdgvisowUAPJQJXhWgIVxTYNqsL08cOsLC9T9DxqBEkcopHYg2SyUs77rQEfkS39EX0ZWgMJUinH
 8EnFQQFU7J5K0BhDs9m8/PDDJ5vbw9HLly8UN24s/p+Dzgb3A0ZVscaQDFcoOhma9T0mlvP/3HjW
 V9dZ31iHDFrtFpIm2C0A04QImMRiETQpaUCTMixiv21GWibIUETsgCM6g6lbiuDvWdcsLS1+49Kl
 S8U2AF/60r/Pr1279t+LPZqJu0nknUlxN4qMMeJ7Hg1xe16gMbJycZHO/AYVSWg3m3SabZbeWWC4
 XiF1KRJBg0edQVKI1RQtPAQwiSvzg6GsGJNys4VJy0GLrafEiqFSrd5jNF5w+fKlZ373d7+U79wh
 oqdOPXZlZWX5nd1mBHsBsJsX7HztM1+2t/uiwecer5EjT9xPWt4rQWe9jUst4yOTpcAqQpnkAMUQ
 JZSyN3VoCETtxz8CueKzAokQO4F8pU222SPK7p5sjLCycvP8Bz7w6KWt7Qvbgv6ZZ/6gefHi+d/b
 rXmwn/vvlRT7G5e3O8rBQ97MMV1D0e8v5FnEimHu7St0sx7iFIpIbHsIZT/QWktIFSoGTESScr6o
 abnnIMTt3TKkwZaUuWsTJHLu3Pn/9vTTzzTu2iN05szZLAT52srKynWQ20bKOxPcdpLbZQ/hbQCZ
 SIi3FKNNHBCIuScvPFIDM1x2cfNezvKVFYoQ0ERIBlOMM/giR3AEhSSxJM6W+aQboF93mDRBXDlp
 tsbgfYZ0/V1jcVVheXn5qmr82ttvv5Htuk/w9OnvLVy7dvUPiqK4w3XMji1xcc8wuG2IIgYSLVtc
 xhBDKD0hRrJmQbbRI/pympQODdJabhIyTywCwXtUA9YZ4kqH0M7w3UCxmZehEQQNgu1FpFeUxFkU
 BFWoJcRdNkj0Y/8Pn3/+uYU9N0q++OKLnQsXLnx5YWHhu7IjjmLsr75YwGK2DEcxTsrdHDu7RUI5
 /yvKDk/woRRNaLlJYiOycW0FKcphymR9nCSpIj5ALSk/awRJDW4mpTKYEjse7eVos4BWgbYyQoho
 zWJrFZxLqFiDdnPkjl1iIsL8/Nx3zp07/5WzZ1/t7LdZWr74xX/wy08++dTvjY6OHdorB/y0PESE
 jY31pZdeeuGffPnLX/5fd25TtbuddPbs2Wuzs0f9xMTEX0/TSv9GKH7KDkXE0G63Gj/4wQ9++5ln
 /uhPKGUS+wIAFDdv3jg/MjJmh4eHP1ypVCqxr/t/Wg4RodFoNF5//fX/8vWv//l/bbXam7sZuhcA
 NBqNzpkzr7526NBMNjY2+ni1WqnfGqK+fw+RMmk3GpsrZ8688h+efvrp/9RsNpb3stPu0zvvvP76
 G685JwtpmhwaHh6ZLed+8X1qvBCj5/LlSy89//xzv/PVr/7p06rhnneP2f2LnNA7f/7cG51O53Se
 58XAwOBsvT4wtEX974fbaYyxGANra6vzr7zyyjMvvPDcb33nO//vL4H2e3rj5AMPPDg+MTH51LFj
 x375iSc++unJyemHrDXsHKz8pDL71pZ77wMrKzcvvPrqmWevXLn8F8vLyy9du3Z19cDf9aMAfvjw
 kZGRkZEPJ0ny2JNPPvWpEyceenx4ePT+arWabDEG9+ggv1tjdz43xpBlvXx9ff3apUsXXn/55dPf
 Korijc3NzTNLS4tN4F3dPvvj3ANnADM7e3QyhHBCRI4eP378Q6dOPXZqcnJqZnBwaKpeH5xM02So
 VJLCXk3XPSYxxBjJ86LR6bRWm83G8urq6uIbb7z2xtWrV96MUa85Zy/Mzc2t9FstP5Jgea9uAhSA
 8fFxl2XZRIxxXFVHgdEQQn1sbHLk6NH7Dk1NTU1WKvWa7DGCUlXtdjvdlZXl5evXr93Y2FhvWGs7
 wIaIbIqYNefsaqPRKHZuSP9xHv8fk6PtH2IuotYAAAAASUVORK5CYII=
