[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=qmlquake2frontend
Exec=/usr/bin/invoker --type=d -s /opt/qmlquake2frontend/bin/qmlquake2frontend
Icon=/usr/share/icons/hicolor/80x80/apps/qmlquake2frontend80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
